textarea {
    display: block;
    min-width: 500px;
    resize: vertical;
}
.search-section {
  background-color: #483285;
  height: 150px;
  .search {
    padding: 30px;
    text-align: center;
    .title {
      font-size: 24px;
      font-weight: 700;
      color: white;
    }
    .box-search {
      width: 390px;
      .input-search {
        font-size: 14;
        border-radius: 6px;
        padding: 9px 15px;
      }
    }
  }
}

.grid {
  padding: 16px 3px 0;
  --itemPerRow: 4;
  --itemMargin: 16px;
  
  @media (max-width: 1399.98px) {
    --itemPerRow: 3;
    --itemMargin: 16px;
  }

  @media (max-width: 1199.98px) {
    --itemPerRow: 2;
    --itemMargin: 14px;
  }

  @media (max-width: 991.98px) {
    --itemPerRow: 2;
    --itemMargin: 12px;
  }

  &__layout {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--itemMargin));
  }
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: calc(100% / var(--itemPerRow) - var(--itemMargin));
    margin: 0 var(--itemMargin) var(--itemMargin) 0;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .flex-item-left {
    flex: 50%;
    text-align: left;
  }
  .flex-item-right {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
    a {
      align-self: flex-end;
    }
  }
}

.card {
  transition: 0.3s;
  border-radius: 6px;
}

.container {
  margin-top: 6px;
  .title-community {
    color: #222b45;
    font-size: 16px;
    font-weight:700;
    margin: 3px;
  }
  .title-community:hover {
    color: #0768ea;
  }

  .detail {
    color: #222b45;
    word-wrap: break-word;
    font-weight: 400;
    margin: 3px;
  }
}

.mobile-view #user-sub-community .user-sub-community-item {
  width: 90%;
}

#user-sub-community {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  min-width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .user-sub-community-item {
    padding: 12px;
    width: 320px;
    height: 84px;
    margin: 8px;
    border-radius: 4px;
    background-color: rgba(217, 217, 217, 0.3);

    .thumbnail {
      width: 180px;

      img {
        object-fit: cover;
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }

    .community-info {
      width: 100%;
      padding: 0 16px;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        font-size: 16px;
        font-weight: 600;
        color: black;
      }

      .sub-title {
        font-size: 10px;
        font-weight: lighter;
        color: #9e9c9c;
      }

      .button-container {
        display: flex;
        justify-content: end;

        button {
          width: auto;
          font-size: 12px;
          padding: 4px 8px;
          margin-top: 4px;
          border-radius: 2px;
        }
      }
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .separator {
    border-bottom: 1px solid #d9d9d9;
  }
}

.modal-leave-sub-community-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
